
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                500 Server connection problem
                </h2>
                <div class="error-details">
                    Sorry, it's me, not you.
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('main.index') }}" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>